* {
    margin: 0;
    padding: 0;
  }

html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
}

.wrapper {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    background: #C0DBD9;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
    margin-right: 15px;

    background: #7FAFF7;
}

.popupbutton {
    padding: 8px 15px;
    gap: 10px;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    color: #FFFFFF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;

    background: #A5C7F9;
}

.content {
    flex: 1 0 auto;
  }

.grid-wrap {
    display: grid;
    margin: 15px;
    grid-template-columns: 39fr 59fr 16fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;

    background: #B3F95A;
}

.box {
    height: 198px;
    background: #8AD191;
    font-weight: 400;
    font-size: 53px;
    line-height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.flex-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    gap: 30px;
    margin: 15px;

    background: #88B5BF;
}

.flexbox {
    flex: 1;
    padding-bottom: 17.929%;
    max-width: 25%;
    background: #0D89B0;
}

.footer {
    height: 100px;
    margin: 15px 15px 0;
    flex: 0 0 auto;

    background: #7FAFF7;
}

.popup{
      position: absolute;
    top: -999px;
    left: 50%;
    margin: -200px 0 0 -200px;
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255);
    z-index: 1;
    transition: .5s all;

    font-size: 53px;
}

#modal {
    display: none;
}

#modal:checked ~ .popup{
    top: 50%;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    padding: 8px 15px;

    background: #7FAFF6;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
}
